
body {
    box-sizing: border-box;
}


.chat_container {
width: 100%;
height: 500px;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
}


.chat_header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    background-color: wheat;
}

.main_chat {
    overflow: hidden;
       margin: 10px;
       display: flex;
       flex-direction: column;
        border: 5px ridge;
        justify-content: space-between;
        height: 500px;
        box-shadow: 10px 10px 5px lightblue;
        background-color: rgb(173, 167, 173);
        flex-wrap: wrap;
}

.chat_channels {
    position: relative;
    border: 3px solid;
    padding: 0px 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 500px;

}

.chat_channel_info {
    flex-shrink: 1001;
    align-self: flex-end;
    padding: 5px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background-color: #d9d2d2;
}

.chat_message_form {
    display: inline-flex;
    padding: 10px;
    margin: 10px;
}