.popUp_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  padding: 15px;
  left: 50%;
  width: 400px;
  border: none;
  font-size: 20px;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgba(95, 95, 226, 0.25) 0px 30px 60px -12px inset,
    rgba(197, 49, 49, 0.3) 0px 18px 36px -18px inset;
  z-index: 1001;
}

.popUp_overlay {
  position: fixed;
  background-color: grey;
  opacity: 0.5;
  z-index: 900;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.close_anchor {
  position: absolute;
  top: 10px;
  right: 10px;
}

.error {
  color: red;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  margin: 3px;
}

.errorMessage {
  color: red;
  font-size: 15px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.line {
  width: 100%;
  border: 1px solid black;
  box-shadow: 5px 10px 25px 5px rgba(34, 60, 80, 0.2);
}

.errors {
  color: red;
  border-color: blue;
  text-align: center;
}
