
// * {
//   box-sizing: border-box;
// }

// html,
// body {
//   box-sizing: border-box;
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

a {
	text-decoration: none;
}

.hr-custom {
	border: 2px;
	box-shadow: 
	0 2px 3px rgba(0, 0, 0, 0.2),
	0 4px 6px rgba(0, 0, 0, 0.1),
	0 6px 10px rgba(0, 0, 0, 0.1);
	padding: 1px;
	border-radius: 8px;
}