.container {
  gap: 10px;
  border: 3px solid #dcdcdc;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.error {
  color: red;
}

.buttonExit {
  top: 10px;
  right: 20px;
}
