.chat_channel_info {
  flex-shrink: 1;
  align-self: flex-end;
  width: 100%;
  padding: 5px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 249, 250, 1);
  border-bottom: 1px solid #dee2e6;
}
