 .chat_message_form {
  padding: 10px;
  margin: 10px;
}

/* .input_form {
  width: 10px;
} */

/* .submit_anchor::after {
  font-size: 16px;
  display: inline-block;
  padding: auto;
  width: 25px;
  content: '\2714';
  cursor: pointer;
}  */
