/* .chat_body {
  overflow: scroll;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 5px ridge;
  justify-content: space-between;
  height: 500px;
  box-shadow: 10px 10px 5px lightblue;
  background-color: rgb(173, 167, 173);
  flex-wrap: nowrap;
} */
