.removePopUp_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  padding: 15px;
  left: 50%;
  width: 400px;
  border: none;
  font-size: 20px;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgba(95, 95, 226, 0.25) 0px 30px 60px -12px inset,
    rgba(197, 49, 49, 0.3) 0px 18px 36px -18px inset;
  z-index: 1001;
}

.cancel_button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete_button {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.cancel_button:hover,
.cancel_button:active {
  background-color: initial;
  background-position: 0 0;
  color: grey;
  border: 1px solid grey;
}
.delete_button:hover,
.delete_button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.delete_button:active {
  opacity: 0.5;
}

.removePopUp_overlay {
  position: fixed;
  background-color: grey;
  opacity: 0.5;
  z-index: 900;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.removePopUp_cointainer {
  display: none;
}

.line {
  width: 100%;
  border: 1px solid black;
  box-shadow: 5px 10px 25px 5px rgba(34, 60, 80, 0.2);
}
